.features
  margin-bottom: 175px
  &-img
    background: url("../assets/features-img1.jpg"), no-repeat
    -webkit-background-size: cover
    background-size: cover
    height: 560px
    width: 645px

  &-wrap
    display: flex
    align-items: center


  &-description
    flex: 50%
    display: flex
    flex-direction: column
    font-size: 20px
    line-height: 32px

    h2
      font-family: 'OpenSansBold', sans-serif
      font-size: 65px
      line-height: 78px
      margin-top: 0
      margin-bottom: 10px
      span
        color: #29A0F5
    p:first-child
      width: 90%
    &-block
      display: flex
      align-items: center
      margin-bottom: 20px
      &__img
        height: 95px
        width: 95px
        margin-right: 20px
      &__text
        h3
          font-weight: 400
          font-size: 30px
          line-height: 42px
          margin: 0
        p
          margin: 0


