.footer
  padding-top: 100px
  padding-bottom: 60px
  background: #1B2534

  &-wrap
    display: flex
    align-items: flex-end

  &-links
    flex-basis: 50%
    background-color: #283343
    margin-right: 30px
    margin-left: 30px
    padding-top: 60px
    padding-bottom: 55px
    border-radius: 30px
    display: flex
    justify-content: space-around

    &__block
      display: flex
      flex-direction: column
      justify-content: space-between

      &_title
        font-family: "OpenSansBold", sans-serif
        color: #FFFFFF
        line-height: 30px
        font-size: 20px
        margin-top: 0
        margin-bottom: 15px

      a
        transition: 0.1s
        text-decoration: none
        color: #ABABAB
        font-size: 18px
        line-height: 20px
        margin-bottom: 10px

        &:hover
          transition: 0.1s
          color: #FFFFFF

  &-video
    background: url("../assets/footer-video_bg.png")
    -webkit-background-size: cover
    background-size: cover
    height: 327px
    width: 337px
    display: flex
    justify-content: center
    align-items: center

    &__button
      display: flex
      justify-content: center
      align-items: center
      height: 87px
      width: 87px
      transition: 0.1s
      background: #1B2534
      border-radius: 100px

      &:hover
        transition: 0.1s
        background: #29A0F5
        border: 1px solid #29A0F5

  &-description
    width: 270px

    &__logo
      background: url("../assets/spaatz_logo_white.svg")
      -webkit-background-size: cover
      background-size: cover
      height: 60px
      width: 184px

    &__text
      text-transform: none
      margin-top: 22px
      margin-bottom: 100px
      color: #ABABAB
      font-size: 20px
      line-height: 32px

    &__links
      a
        margin-right: 30px

  &-hr
    margin-top: 10px
    margin-bottom: 20px
    width: 1340px
    height: 1px
    background-color: #606060

  &-underline
    display: flex
    justify-content: space-between

    &__links
      color: #ABABAB

    &__link
      transition: 0.1s
      text-decoration: none
      color: #ABABAB
      font-size: 18px
      line-height: 28.8px
      margin: 0 20px 0 20px

      &:first-child
        margin: 0 20px 0 0

      &:hover
        transition: 0.1s
        color: #FFFFFF

  &-copyright
    color: #ABABAB
    font-size: 18px
    line-height: 28.8px

    a
      transition: 0.1s
      text-decoration: none
      color: #29A0F5

      &:hover
        transition: 0.1s
        color: #ABABAB

@media (max-width: 1440px)
  .footer
    &-links
      flex-basis: 40%

    &-copyright
      font-size: 14px

    &-underline
      &__link
        font-size: 14px

@media (max-width: 1200px)
  .footer
    &-underline
      &__link
        font-size: 14px
        margin: 0 10px 0 10px

        &:first-child
          margin: 0 10px 0 0

    &-video
      flex-basis: 36%
      height: 260px
      width: 268px

    &-links
      flex-basis: 60%
      padding-top: 40px
      padding-bottom: 40px

    &-description
      width: 180px

      &__text
        font-size: 14px
        line-height: 20px
        margin-bottom: 100px

      &__links
        a
          margin-right: 20px

@media (max-width: 992px)
  .footer
    padding-top: 60px

    &-copyright
      font-size: 10px

    &-underline
      &__link
        font-size: 10px
        margin: 0 5px 0 5px

        &:first-child
          margin: 0 5px 0 0

    &-video
      flex-basis: 36%
      height: 175px
      width: 180px
      align-self: center

    &-links
      flex-basis: 60%
      padding-top: 20px
      padding-bottom: 10px

      &__block
        &_title
          font-size: 16px

        a
          font-size: 13px

    &-description
      width: 180px

      &__text
        font-size: 14px
        line-height: 20px
        margin-bottom: 65px

      &__links
        a
          margin-right: 20px


@media (max-width: 768px)
  .footer
    &-wrap
      display: block

    &-description
      margin-right: auto
      width: 320px

      &__logo
        height: 60px
        width: 184px

      &__text
        margin-top: 22px
        margin-bottom: 50px
        font-size: 20px
        line-height: 32px

      &__links
        margin-bottom: 40px

        a
          margin-right: 30px

    &-links

      padding-top: 40px
      padding-left: 40px
      padding-bottom: 20px
      border-radius: 30px
      display: block
      margin-bottom: 40px


      &__block
        &_title
          line-height: 30px
          font-size: 20px
          margin-top: 0
          margin-bottom: 15px

        a
          font-size: 18px
          line-height: 20px
          margin-bottom: 15px

    &-video
      margin: auto
      height: 327px
      width: 337px

    &-underline
      display: block

      &__links
        display: flex
        justify-content: flex-end
        align-items: center

@media (max-width: 512px)
  .footer
    &-video
      height: 310px
      width: 317px