.preview
  background: linear-gradient(294.27deg, #30A8FF 0%, #C4F5C9 100%)
  padding-top: 140px
  &-img
    background: url("../assets/preview-img.png")
    -webkit-background-size: cover
    background-size: cover
    width: 1340px
    height: 599px
  &-wrap
    display: flex
    align-items: flex-end
    justify-content: space-between

    margin-bottom: 70px
  &-title
    width: 662px
    margin: 0
    font-family: "OpenSansBold", sans-serif
    font-size: 65px
    line-height: 84.5px



  img
    margin: 27px 24px 27px 19px

  