@import "header"

@font-face
  font-family: 'OpenSansRegular'
  src: url("../assets/fonts/OpenSans-Regular.ttf") format("truetype")

@font-face
  font-family: 'OpenSansBold'
  src: url("../assets/fonts/OpenSans-Bold.ttf") format("truetype")


body
  box-sizing: border-box
  margin: 0

.container
  width: 1340px
  margin: auto

